@model List<AdmitGenius.Models.InternRequest>

@{
    var distinctJobTitles = Model.Select(ir => ir.Job.JobName).Distinct().ToList();
}

<style>
    td{
        text-align: center;
    }
</style>



<div style="display:flex">
    <!-- component -->
    <div style="height: 100vh;" class="flex flex-col top-30 left-0 w-64 bg-white h-full border-r">

        <div class="overflow-y-auto overflow-x-hidden flex-grow">
            <ul class="flex flex-col py-4 space-y-1">
                <li class="px-5">
                    <div class="flex flex-row items-center h-8">
                        <div class="text-sm font-light tracking-wide text-gray-500">Menu</div>
                    </div>
                </li>
                <li>
                    <a asp-action="Dashboard" asp-controller="Company" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a asp-action="ManageEnrollments" asp-controller="Company" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Manage Enrollments</span>
                    </a>
                </li>
                @*  <li>
                <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                <span class="inline-flex justify-center items-center ml-4">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path></svg>
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Inbox</span>
                <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-indigo-500 bg-indigo-50 rounded-full">New</span>
                </a>
                </li>
                <li>
                <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                <span class="inline-flex justify-center items-center ml-4">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path></svg>
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Messages</span>
                </a>
                </li> *@

                <li class="px-5">
                    <div class="flex flex-row items-center h-8">
                        <div class="text-sm font-light tracking-wide text-gray-500">Job Posting</div>
                    </div>
                </li>
                <li>
                    <a asp-action="AddJobPosting" asp-controller="Company" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path></svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Add Job / Internship</span>
                    </a>
                </li>

                <li class="px-5">
                    <div class="flex flex-row items-center h-8">
                        <div class="text-sm font-light tracking-wide text-gray-500">Settings</div>
                    </div>
                </li>
                <li>
                    <a asp-action="AddNewTeam" asp-controller="Company" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Add Teams</span>
                    </a>
                </li>
                <li>
                    <a asp-action="EditCompanyDetails" asp-controller="Company" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Edit Company Details</span>
                    </a>
                </li>
                <li>
                    <form style="padding:inherit;margin:0;" method="post" action="@Url.Action("Logout", "Users")">
                        <button style="width:100%" type="submit" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                            <span style="margin-left: 18px;" class="inline-flex justify-center items-center ml-4">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Logout</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>


    <style>
        #dashboard-content {
            /* display: flex; */
            width: 100%;
            justify-content: center;
        }

        .customcontainer {
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 2rem;
            display: flex;
            height: inherit;
            flex-direction: column;
            align-items: center;
            justify-self: flex-start;
        }

        .heading h2 {
            color: darkblue;
            font-family: 'roboto',sans-serif;
            font-size: 30px;
            margin-bottom: 30px
        }

        .content {
            height: max-content;
            width: 60vw;
        }

        /*  form {
                                              padding: 1rem;
                                              display: flex;
                                              flex-direction: column;
                                              align-items: center;
                                              margin: 1rem auto;
                                          } */

        input, textarea, select {
            width: 45vw;
            padding: 0.5rem;
            margin-bottom: 2rem;
            border-radius: 4px;
            border: 1px solid #979797;
            box-sizing: border-box;
        }

            input::placeholder, textarea::placeholder {
                color: black;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 1rem;
            }

        .submitbtn {
            margin: 0.5rem;
            padding: 1rem;
            background-color: orange;
            border-radius: 5rem;
            width: 15rem;
            color: #fff;
            border: none;
            cursor: pointer;
            align-self: center;
            font-weight: bolder;
        }

            .submitbtn:hover {
                background-color: orangered;
                cursor: pointer;
            }
    </style>


    <div id="dashboard-content">
        <div class="customcontainer">
            <div class="heading"><h2><strong>Company Dashboard</strong></h2></div>
            <h1 style="width: 100%;color: black;font-weight: 700;font-size: 30px;">
                Worker Details
            </h1>

            <div style="
    width: 100%;
    display: flex;
">

                <div style="border: 1px solid black;margin: 20px;border-radius: 7px;border-bottom: 5px solid #018521;width: fit-content;border-right: 5px solid #018521;">
                    <div style="margin: 5px ;width: 10px;background-color: #15ea15;height: 10px;border-radius: 20px;position: absolute;">
                    </div>
                    <div>
                        <p style="padding: 20px;margin-left: 20px;">Total Workers : @ViewBag.TotalWorkers</p>
                    </div>
                </div>
                <div style="
    display: flex;
">
                    <div style="border: 1px solid black;margin: 20px;border-radius: 7px;border-bottom: 5px solid #018521;width: fit-content;border-right: 5px solid #018521;">
                        <div style="margin: 5px ;width: 10px;background-color: #15ea15;height: 10px;border-radius: 20px;position: absolute;">
                        </div>
                        <div>
                            <p style="padding: 20px;margin-left: 20px;">Total Employee : @ViewBag.TotalInterns</p>
                        </div>
                    </div>
                    <div style="border: 1px solid black;margin: 20px;border-radius: 7px;border-bottom: 5px solid #018521;width: fit-content;border-right: 5px solid #018521;">
                        <div style="margin: 5px ;width: 10px;background-color: #15ea15;height: 10px;border-radius: 20px;position: absolute;">
                        </div>
                        <div>
                            <p style="padding: 20px;margin-left: 20px;">Total Interns : @ViewBag.TotalEmployee</p>
                        </div>
                    </div>
                </div>

            </div>


            <div style="height: 10px;border-top: 1px solid black;width: 100%;margin: 20px;">
            </div>


            <h1 style="width: 100%;color: black;font-weight: 700;font-size: 30px;">
                Enrollment Details
            </h1>

            <div style="
    width: 100%;
    display: flex;
">





                <div style="border: 1px solid black;margin: 20px;border-radius: 7px;border-bottom: 5px solid #018521;width: fit-content;border-right: 5px solid #018521;">
                    <div style="margin: 5px ;width: 10px;background-color: #15ea15;height: 10px;border-radius: 20px;position: absolute;">
                    </div>
                    <div>
                        <p style="padding: 20px;margin-left: 20px;">Pending Enrollments: @ViewBag.PendingEnrollments+</p>
                    </div>
                </div>
                <div style="
    display: flex;
">
                    <div style="border: 1px solid black;margin: 20px;border-radius: 7px;border-bottom: 5px solid #018521;width: fit-content;border-right: 5px solid #018521;">
                        <div style="margin: 5px ;width: 10px;background-color: #15ea15;height: 10px;border-radius: 20px;position: absolute;">
                        </div>
                        <div>
                            <p style="padding: 20px;margin-left: 20px;">Approved : @ViewBag.ApprovedEnrollments+</p>
                        </div>
                    </div>
                    <div style="border: 1px solid black;margin: 20px;border-radius: 7px;border-bottom: 5px solid #018521;width: fit-content;border-right: 5px solid #018521;">
                        <div style="margin: 5px ;width: 10px;background-color: #15ea15;height: 10px;border-radius: 20px;position: absolute;">
                        </div>
                        <div>
                            <p style="padding: 20px;margin-left: 20px;">Rejected : @ViewBag.RejectedEnrollments+</p>
                        </div>
                    </div>
                </div>

            </div>

            <div style="height: 10px;border-top: 1px solid black;width: 100%;margin: 20px;">
            </div>


            <div style="
    width: 100%;
">
                <h1 style="width: 100%;color: black;font-weight: 700;font-size: 30px;">
                    All Application for Current Jobs Opeaning
                </h1>

                <div style="margin-left: 20px;" class="flex flex-col">
                    <div class="overflow-x-auto">
                        <div class="min-w-full inline-block align-middle">
                            <div class="rounded-lg overflow-hidden dark:border-gray-700">
                                @foreach (var jobTitle in Model.Select(ir => ir.Job.JobName).Distinct())
                                {
                                    <h2 style="margin: 20px 0 10px;font-size: 20px;font-weight: bold;color: #000056;font-family: math;">
                                        Job Title: @jobTitle
                                    </h2>
                                    <div style="border: 1px solid #bfbfbf;border-radius: 10px;padding: 2px;border-bottom: 5px solid green;border-right: 5px solid green;">
                                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                            <thead class="bg-gray-50 dark:bg-gray-700">
                                                <tr style="border-bottom: 0.5px solid #15ea15;">
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Name</th>
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Resume</th>
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Job Location</th>
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Employee Type</th>
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Expected Salary</th>
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Date Of Request</th>
                                                    <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Status</th>

                                                </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                                @foreach (var internRequest in Model.Where(ir => ir.Job.JobName == jobTitle))
                                                {
                                                    <tr>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">@internRequest.User.UserName</td>

                                                        @if (@internRequest.User.resumePrefrence == "pdf")
                                                        {
                                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"><a style="display:flex;justify-content: center;" href="@internRequest.User.resumeFileString" target="_blank">Resume PDF</a></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                                                                <a target="_blank" style="display:flex;justify-content: center;" asp-controller="StudentProfile" asp-action="Resume" asp-route-UserId="@internRequest.User.UserId">
                                                                    
                                                                    Digital Resume

                                                                </a>
                                                            </td>
                                                        }



                                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">@internRequest.Job.JobEmployeeType</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">@internRequest.Job.JobLocation</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">@internRequest.Job.JobMinSalary - @internRequest.Job.JobMaxSalary</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">@internRequest.DateOfRequest</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">@internRequest.Status</td>
                                                        <!-- Add other cells with InternRequest details -->
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>

</div>