
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<style>
    /* Carousel Styles */
    #myCarousel {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 90vh;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); /* Added gradient background */
    }

    .carousel-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        height: 100%;
    }

    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden; /* Added overflow property */
    }

    .gradient-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); /* Added gradient background */
    }

    .carousel-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .carousel-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
    }

    /* Controls Container */
    .controls-container {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    /* Controls */
    .carousel-control {
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 10px;
    }

    .university-info {
        position: absolute;
        bottom: 6rem;
        left: 6rem;
        color: #fff;
        text-align: left;
    }

    .learn-more-btn {
        display: inline-flex;
        text-decoration: none;
        background-color: #3498db;
        padding: 8px 12px;
        border-radius: 4px;
        color: #fff;
        transition: background-color 0.3s ease;
    }

        .learn-more-btn:hover {
            background-color: #2980b9;
        }

    .dot-container {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #828282;
        margin: 0 6px;
        cursor: pointer;
    }

        .dot.active {
            background-color: #3498db; /* Color for the active dot */
        }


    .customvecotr {
        max-width: 100vh;
    }

    @@media (width <= 768px) {
        .university-info {
            bottom: 3rem;
            left: 3rem;
        }

        .learn-more-btn {
            padding: 6px 10px;
            font-size: 14px;
        }

        .carousel-control {
            font-size: 18px;
        }

        .customvecotr {
            max-width: 30vh;
        }
    }



    .title-container {
        display: flex;
        align-items: center;
        margin: 1.5rem;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

        .title-container h2 {
            font-family: 'Roboto',sans-serif;
            margin-top: 1rem;
        }

        .title-container p {
            max-width: 50%;
            text-align: center;
            color: #AFADB5;
        }

    .img-container {
        margin-bottom: 0;
        position: relative;
        justify-content: center;
        width: 100%;
        display: flex;
    }

        .img-container figure {
            width: 100%;
        }

    .university-summary {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        z-index: 2;
        position: absolute;
        bottom: -100px;
        background-color: #fff;
    }

        .university-summary .summary-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-self: center;
            text-align: center;
            margin: 0.9rem;
        }

            .university-summary .summary-item svg {
                margin-bottom: 1rem;
            }

    .university-intro-container {
        background: url('https://yourbucketname.s3.amazonaws.com/5480909.jpg') no-repeat;
    }

    .courses {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .filter-btn button {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #F1F5F9;
        border-radius: 40px;
    }

        .filter-btn button:hover {
            background-color: #d3d3d6;
        }

    .courses-heading {
        font-family: 'Roboto',sans-serif;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 50px;
        margin-bottom: 10px
    }

        .courses-heading button {
            margin-left: 1rem;
            color: darkblue;
            font-weight: bolder;
        }

    .customflexcard2 {
        padding-top: 1rem;
        padding-top: 1rem;
        margin-left: 80px;
        margin-right: 80px;
    }

    .customForm1 {
        display: flex;
        margin-left: 114px;
        margin-right: 114px;
        margin-top: 50px;
    }

    .customCourseDiv {
        padding-top: 0px;
        padding-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .customLeftColumn {
        margin-left: 50px
    }

    .noPaddingClass {
        padding: 20px 114px
    }

    @@media (width <= 768px) {

        .noPaddingClass {
            padding: 0px !important;
            margin: 0px !important;
        }

        .CustomTagLine {
            min-width: 300px;
        }

        .courses-heading {
            margin-left: 30px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .customForm1 {
            display: flex;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 10px;
        }


        .customLeftColumn {
            padding: 0 !important;
            margin: 0 !important
        }

        .customflex2 {
            display: flex !important;
            flex-direction: column !important;
        }


        .CustomSeacrchdiv {
            margin-left: 10px
        }

        .customflexcard2 {
            padding: 0;
            margin: 0;
        }

        #dropdownradiohelperbutton {
            display: flex;
            width: 294px;
            color: #2d3234;
            background-color: #eef8ff;
            border-radius: 1px;
            border: 1px solid #06067eb8;
            justify-content: space-between;
        }
    }

</style>

@model AdmitGenius.Models.ViewModels.StudentHomePageViewModel

@{
    ViewData["Title"] = "StudentHomePage";
}



<div id="myCarousel">
    @{
        var shuffledUniversities = Model.Universities.OrderBy(u => Guid.NewGuid()).ToList();
    }

    <div class="carousel-container">
        @for (var i = 0; i < shuffledUniversities.Count && i < 5; i++)
        {
            var university = shuffledUniversities[i];
            <!-- Slide  -->
            <div class="carousel-item">
                <div class="gradient-overlay"></div>
                <img src="@university.UniversityImage" alt="Slide @i" class="carousel-image">
                <!-- University Information -->
                <div class="university-info" style="max-width: 450px">
                    <a asp-controller="University" asp-action="UniversityPage" asp-route-id="@university.UniversityId" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
                        <button asp-controller="University" asp-action="UniversityPage" asp-route-id="@university.UniversityId" class="inline-flex text-white bg-blue-900 border-0 py-2 px-6 focus:outline-none hover:bg-blue-800 rounded-full text-lg">Learn More</button>
                    </a>
                    <h1 style="font-size:3rem">@university.UniversityName</h1>
                    <p style="max-height:120px;overflow:hidden;padding-bottom:20px">@university.UniversityDescription</p>
                </div>
            </div>
        }
    </div>


    <!-- Controls Container -->
    <div class="controls-container">
        <!-- Controls -->
        <button class="carousel-control" onclick="prevSlide()">‹</button>
        <button class="carousel-control" onclick="nextSlide()">›</button>
    </div>

    <!-- Dot Container -->
    <div class="dot-container">
        @for (var i = 0; i < Model.Universities.ToList().Count; i++)
        {
            <div class="dot" onclick="showSlide(@i)"></div>
        }
    </div>
</div>
<script>
    let currentIndex = 0;

    function updateDots() {
        const dots = document.querySelectorAll('.dot');
        dots.forEach((dot, index) => {
            dot.classList.remove('active');
            if (index === currentIndex) {
                dot.classList.add('active');
            }
        });
    }

    function showSlide(index) {
        const container = document.querySelector('.carousel-container');
        currentIndex = index;

        container.style.transform = `translateX(${-index * 100}%)`;
        updateDots();
    }

    function nextSlide() {
        const totalSlides = document.querySelectorAll('.carousel-item').length;
        currentIndex = (currentIndex + 1) % totalSlides;
        showSlide(currentIndex);
    }

    function prevSlide() {
        const totalSlides = document.querySelectorAll('.carousel-item').length;
        currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
        showSlide(currentIndex);
    }

    // Initial setup
    showSlide(currentIndex);
</script>




<div class="antialiased bg-gray-200 text-gray-900 font-sans p-6">
    <!--Search-->
    <form asp-action="StudentHomePage" class="customForm1">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>

        <input type="hidden" name="scrollToSection" id="scrollToSection">

        <div class="CustomSeacrchdiv relative" style="display: flex; justify-content: flex-start; flex-grow: 1; flex-direction: row-reverse; margin-top: 10px;">
            <input name="courseSearchField" style="flex-grow:1; border-radius: 1px" type="search" id="default-search-course" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Courses..." required>
            <button id="searchButtonCourse" style="margin-right:8px;border-radius: 1px;background-color:darkblue" type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">FIND NOW</button>
        </div>

        <button style="margin-left: 20px;margin-top: 5px;margin-bottom: 5px;/* background: linear-gradient(to left, #040d4f 0%, #e2e6ef 100%); */border-radius: 20px;color: black;background-color: #00008b24;border: solid 2px #00009a;" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Filter <svg style="    margin-left: 10px;" class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
            </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                </li>
            </ul>
        </div>

        <!-- JavaScript code for scrolling to the course search section -->
        <script>
            window.onload = function () {
                var scrollToSection = document.getElementById("scrollToSection").value;
                if (scrollToSection === "course-search-section") {
                    var courseSearchSection = document.getElementById("default-search-course");
                    if (courseSearchSection) {
                        courseSearchSection.scrollIntoView();
                    }
                }
            };

            // Attach the JavaScript code to the form's submit event
            document.getElementById("studentHomePageForm").addEventListener("submit", function () {
                // Set the value of the hidden input field to indicate which section to scroll to
                document.getElementById("scrollToSection").value = "course-search-section";
            });
        </script>


    </form>




    <!--Courses-heading-->
    <div class="courses-heading">
        <h1 class="text-2xl font-bold tracking-tight text-black sm:text-4xl">All Courses </h1>
        <button type="button" class="bg-gray-100 text-black rounded-full py-2 px-4">@Model.Courses.Count()</button>
    </div>
    <div class="container mx-auto">
        <div class="flex flex-wrap -mx-4">
            @foreach (var course in Model.Courses)
            {

                <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
                    <div class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
                        <div class="relative pb-48 overflow-hidden">
                            <img class="absolute inset-0 h-full w-full object-cover" src="@course.CourseImage" alt="@course.CourseImage">
                        </div>
                        <div class="p-4">
                            <span style="background: #ffffd1;border: 1px solid #e8e800;" class="inline-block px-2 py-1 leading-none bg-orange-200 text-orange-800 rounded-full font-semibold uppercase tracking-wide text-xs">@course.University.UniversityName</span>
                            <h1 class="mt-2 "> @course.CourseEducationLevel in</h1>
                            <h2 style="color: darkblue;" class=" mb-2  font-bold">@course.CourseName</h2>
                            <hr />
                            <p style=" margin: 10px 0px;height:200px; overflow-y:scroll; overflow-x:hidden" class="text-sm">@course.CourseDescription</p>
                            <hr />
                            <div class="mt-3 flex" style="display: flex; justify-content: space-between; padding-right: 10px;">

                                <span style="
                                background: #baffd5;
                                border-radius: 20px;
                                padding: 0 12px;
                                border: 1px solid #00b865;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #005f00;
                                    ">@course.CourseFees $</span>

                                <span style="
                                background: #d3e9ff;
                                border-radius: 20px;
                                padding: 0 12px;
                                border: 1px solid #798fff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #000089;
                                    ">@course.CourseSemesters Semesters</span>

                                <span style="
                                background: #ffffd3;
                                border-radius: 20px;
                                padding: 0 12px;
                                border: 1px solid #e6e600;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                    ">@course.CourseDuration Months</span>

                            </div>

                        </div>
                        <div class="p-4 border-t border-b text-xs text-gray-700">
                            <span class="flex items-center">
                                <i class="far fa-address-card fa-fw text-gray-900 mr-2"></i>Enroll DeadLine @course.CourseEnrollDeadlineIntake1.ToString("yyyy-MM-dd")
                            </span>
                            <span class="flex items-center">
                                <i class="far fa-address-card fa-fw text-gray-900 mr-2"></i>Course Staring Date @course.CourseEnrollDeadlineIntake1.ToString("yyyy-MM-dd")
                            </span>
                        </div>
                        <div class="p-4 border-t border-b text-xs text-gray-700">
                            <a asp-action="CoursePage" asp-controller="Course" asp-route-courseID="@course.CourseId" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
                                Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="section" style="justify-content: center;display: flex;margin-bottom: 40px;">

        <button asp-action="AllCourses" asp-controller="University" class="inline-flex items-center text-white bg-blue-900 border-0 py-2 px-6 focus:outline-none hover:bg-blue-800 rounded text-lg">
            View All Courses
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
            </svg>
        </button>

    </div>
</div>





<!--        888888888888888888888888888888888888 Universities Card 888888888888888888888888888888888888                 -->





<div class="antialiased bg-gray-200 text-gray-900 font-sans p-6" style="    background-color: white;">
    <!--Search-->
    <form class="customForm1" asp-action="StudentHomePage">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>

        <div class="CustomSeacrchdiv relative" style="display: flex; justify-content: flex-start; flex-grow: 1; flex-direction: row-reverse;">
            <input name="universitySearchField" style="flex-grow:1; border-radius: 1px" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Courses, Degrees..." required>
            <button id="searchButtonUniversity" style="margin-right:8px;border-radius: 1px;background-color:darkblue" type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">FIND NOW</button>
        </div>

        <button style="margin-left: 20px;margin-top: 5px;margin-bottom: 5px;/* background: linear-gradient(to left, #040d4f 0%, #e2e6ef 100%); */border-radius: 20px;color: black;background-color: #00008b24;border: solid 2px #00009a;" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Filter <svg style="    margin-left: 10px;" class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
            </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                </li>
            </ul>
        </div>

    </form>



    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!--university-heading-->
    <div class="courses-heading">
        <h1 class="text-2xl font-bold tracking-tight text-black sm:text-4xl">All University </h1>
        <button type="button" class="bg-gray-100 text-black rounded-full py-2 px-4">@Model.Universities.Count()</button>
    </div>
    <div class="container mx-auto">
        <div class="flex flex-wrap -mx-4">


            @foreach (var university in Model.Universities)
            {

                <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
                    <div class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
                        <div class="relative pb-48 overflow-hidden">
                            <img class="absolute inset-0 h-full w-full object-cover" src="@university.UniversityImage" alt="@university.UniversityImage">
                        </div>
                        <div class="p-4">
                            <span style="background: #ffffd1;border: 1px solid #e8e800;" class="inline-block px-2 py-1 leading-none bg-orange-200 text-orange-800 rounded-full font-semibold uppercase tracking-wide text-xs">@university.UniversityCountry</span>

                            <h2 style="color: darkblue;" class=" mb-2  font-bold">@university.UniversityName</h2>
                            <hr />
                            <p style=" margin: 10px 0px;height:200px; overflow-y:scroll; overflow-x:hidden" class="text-sm">@university.UniversityDescription</p>
                            <hr />


                        </div>
                        <div style="    padding-top: 0;" class="p-4 border-b text-xs text-gray-700">
                            <span class="flex items-center">
                                <i class="far fa-address-card fa-fw text-gray-900 mr-2"></i>Since @university.UniversityRegisterDate.ToString("yyyy")
                            </span>
                        </div>
                        <div class="p-4 border-t border-b text-xs text-gray-700">
                            <a asp-controller="University" asp-action="UniversityPage" asp-route-id="@university.UniversityId" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
                                Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="section" style="justify-content: center;display: flex;margin-bottom: 40px;">

        <button asp-action="AllUniversity" asp-controller="University" class="inline-flex items-center text-white bg-blue-900 border-0 py-2 px-6 focus:outline-none hover:bg-blue-800 rounded text-lg">
            View All Universities
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
            </svg>
        </button>

    </div>
</div>


<!--Conduct Exam-->
<section class="relative text-gray-600 body-font bg-cover noPaddingClass" style="background-image: url('https://yourbucketname.s3.amazonaws.com/bloodBG.png');">


    <div style="position:relative;">
        <h3 class="title-font sm:text-4xl text-2xl font-bold tracking-tight mx-auto p-4 pb-0 mt-12 text-center font-medium text-black">Conduct Exam To Identify Your Skills</h3>
        <div class="customvecotr absolute top-0 left-0 w-full h-full" style="position: absolute;top: 135%;left: 65%;transform: translate(-50%, -50%);">
            <svg width="112" height="17" viewBox="0 0 112 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 7.20211C14.9108 5.79098 65.5459 3.04643 107 7.20213C85.4818 7.20213 57.4455 7.62234 39.3937 12" stroke="#FB923C" stroke-width="10" stroke-linejoin="round" />
            </svg>
        </div>
    </div>

    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src="https://yourbucketname.s3.amazonaws.com/exam.jpg">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <p class="mb-8 leading-relaxed">

                <button style="    display: flex;width: 236px;color: #2d3234; background-color: white;border-radius: 5px;border: 1px solid #06067eb8;justify-content: space-between;" id="dropdownRadioHelperButton" data-dropdown-toggle="dropdownRadioHelper" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                    Dropdown radio <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                </button>

                <!-- Dropdown menu -->
                <div id="dropdownRadioHelper" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioHelperButton">
                        <li>
                            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <div class="flex items-center h-5" style="margin-right: 10px;">
                                    <input id="helper-radio-4" name="helper-radio" type="radio" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                </div>
                                <div class="ms-2 text-sm">
                                    <label for="helper-radio-4" class="font-medium text-gray-900 dark:text-gray-300">
                                        <div>Computer Science & Engineering</div>
                                        <p id="helper-radio-text-4" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <div class="flex items-center h-5" style="margin-right: 10px;">
                                    <input id="helper-radio-5" name="helper-radio" type="radio" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                </div>
                                <div class="ms-2 text-sm">
                                    <label for="helper-radio-5" class="font-medium text-gray-900 dark:text-gray-300">
                                        <div>Civil Engineering</div>
                                        <p id="helper-radio-text-5" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <div class="flex items-center h-5" style="margin-right: 10px;">
                                    <input id="helper-radio-6" name="helper-radio" type="radio" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                </div>
                                <div class="ms-2 text-sm">
                                    <label for="helper-radio-6" class="font-medium text-gray-900 dark:text-gray-300">
                                        <div>Music Production</div>
                                        <p id="helper-radio-text-6" class="text-xs font-normal text-gray-500 dark:text-gray-300">Some helpful instruction goes over here.</p>
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            <p style="margin-bottom :10px" class="mb-2">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non. Purus parturient viverra nunc, tortor sit laoreet. Quam tincidunt aliquam adipiscing tempor.PPellentesque etiam blandit in tincidunt at donec.</p>

            <div class="flex justify-center">
                <a asp-controller="Eligibility" asp-action="aptitudetest" class="inline-flex text-white bg-blue-900 border-0 py-2 px-6 focus:outline-none hover:bg-blue-800 rounded text-lg m-4 ml-0">
                    Take an Exam
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.086 11.1569L12.136 7.20692C11.9538 7.01832 11.853 6.76571 11.8553 6.50352C11.8576 6.24132 11.9628 5.99051 12.1482 5.8051C12.3336 5.61969 12.5844 5.51452 12.8466 5.51224C13.1088 5.50997 13.3614 5.61076 13.55 5.79292L19.207 11.4499C19.3002 11.5426 19.3741 11.6527 19.4246 11.7741C19.4751 11.8954 19.501 12.0255 19.501 12.1569C19.501 12.2883 19.4751 12.4184 19.4246 12.5398C19.3741 12.6611 19.3002 12.7713 19.207 12.8639L13.55 18.5209C13.4578 18.6164 13.3474 18.6926 13.2254 18.745C13.1034 18.7974 12.9722 18.825 12.8394 18.8262C12.7066 18.8273 12.5749 18.802 12.452 18.7517C12.3291 18.7015 12.2175 18.6272 12.1236 18.5333C12.0297 18.4394 11.9555 18.3278 11.9052 18.2049C11.8549 18.082 11.8296 17.9503 11.8307 17.8175C11.8319 17.6847 11.8595 17.5535 11.9119 17.4315C11.9643 17.3095 12.0405 17.1992 12.136 17.1069L16.086 13.1569H6.5C6.23478 13.1569 5.98043 13.0516 5.79289 12.864C5.60536 12.6765 5.5 12.4221 5.5 12.1569C5.5 11.8917 5.60536 11.6373 5.79289 11.4498C5.98043 11.2623 6.23478 11.1569 6.5 11.1569H16.086Z" fill="white" />
                    </svg>
                </a>
            </div>

        </div>
    </div>
</section>